@page "/account/admin"
@layout AccountLayout
@attribute [Authorize(Roles = "Admin")]

@inherits AdminModel

<div class="card md-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
        <Category CurrentCategory="CurrentCategory" Links="Links" SelectedLink="SelectedLinkAsync" />

        <div class="d-flex justify-content-center pagination-users align-items-center">
            <Pagination CurrentPage="CurrentPage" PageQuantity="TotalPages" Range="2" SelectedPage="SelectedPageAsync" />
        </div>
    </div>
</div>

<div class="row wow fadeIn">
    <div class="col-md-8 mt-4">
        <div class="card easion-card">
            <div class="card-header">
                <div class="easion-card-icon">
                    <i class="fas fa-user-edit"></i>
                </div>
                <div class="easion-card-title"> List of customers </div>
                <div class="easion-card-menu">
                    <div class="dropdown show">
                        <a class="easion-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (UserRoles != null)
                {
                    int i = 1;

                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        @foreach (var item in UserRoles)
                        {
                            <tbody>
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>@item.Email</td>
                                    <td>@item.UserRoles.FirstOrDefault()</td>
                                    <td>
                                        <a class="btn btn-link @(item.UserRoles.Any(role => role == Roles.Admin) ? "disabled" : null)"
                                           href="javascript:void(0)" @onclick="@(async () => await ShowEditRolesAsync(item))">Role</a>
                                        <a class="btn btn-link" href="javascript:void(0)">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-4">
        <div class="card easion-card">
            <div class="card-header">
                <div class="easion-card-icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <div class="easion-card-title"> Pie Chart </div>
            </div>
            <div class="card-body" id="graph-container">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
</div>
