@page "/account/history"
@attribute [Authorize]

@layout AccountLayout

<main class="dash-content">
    <div class="container d-flex justify-content-center flex-column" style="width: 90%">
        <div class="d-flex align-items-center mb-4">
            <form style="width:100%">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span class="font-weight-bold">From</span>
                        <input type="text" class="form-control border-0 payment-input" maxlength="10"
                               placeholder="@DateTime.Now.ToString("dd-MM-yyyy")">
                    </div>
                    <div class="col d-flex align-items-center">
                        <span class="font-weight-bold">To</span>
                        <input type="text" class="form-control border-0 payment-input" maxlength="10"
                               placeholder="@DateTime.Now.ToString("dd-MM-yyyy")">
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn-floating waves-effect">
                                <span class="material-icons">
                                    search
                                </span>
                            </a>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn-floating waves-effect">
                                <span class="material-icons">
                                    print
                                </span>
                            </a>
                        </div>
                        <div class="col-8 d-flex justify-content-end align-items-center" style="margin-top: 5px;">
                            <a class="btn-floating waves-effect" @onclick="() => --PageSize">
                                <span class="material-icons">
                                    navigate_before
                                </span>
                            </a>
                            <input type="text" class="form-control border-0 payment-input" maxlength="2" style="width: 60px"
                                   @bind="PageSize">
                            <a class="btn-floating waves-effect" @onclick="() => ++PageSize">
                                <span class="material-icons">
                                    navigate_next
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="separator"></div>

        <div class="d-flex justify-content-center">
            <table class="table payment-table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">State</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in histories)
                    {
                        <tr>
                            <td>@item.Date.ToString("hh-MM-yyyy")</td>
                            <td>@item.Type</td>
                            <td>@item.Description</td>
                            <td>@item.Amount ₽</td>

                            @if (item.IsSuccess)
                            {
                                <td class="text-success">Success</td>
                            }
                            else
                            {
                                <td class="text-danger">Failed</td>
                            }
                        </tr>
                        <tr class="spacer"><td colspan="100"></td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

@code {
    IEnumerable<History> histories;

    int _pageSize;

    int PageSize
    {
        get => _pageSize;
        set
        {
            if (value >= 100 || value < 0)
            { 
                return;
            }

            _pageSize = value;
        }
    }

    public PaymentHistory()
    {
        PageSize = 5;
        histories = new[]
        {
            new History { Date = DateTime.Now, Description = "Payment Account", Amount = 750, IsSuccess = true, Type = "Sent" },
            new History { Date = DateTime.Now, Description = "Payment Account", Amount = 750, IsSuccess = false, Type = "Sent" },
            new History { Date = DateTime.Now, Description = "Payment Account", Amount = 750, IsSuccess = true, Type = "Sent" },
            new History { Date = DateTime.Now, Description = "Payment Account", Amount = 750, IsSuccess = false, Type = "Sent" },
            new History { Date = DateTime.Now, Description = "Payment Account", Amount = 750, IsSuccess = true, Type = "Sent" }
        };
    }


    class History
    {
        public DateTime Date { get; set; }
        public string Description { get; set; }
        public string Type { get; set; }
        public decimal Amount { get; set; }
        public bool IsSuccess { get; set; }
    }
}
