@page "/"
@layout MainLayout
@inherits IndexModel

<Intro BodyId="@("body")" ImgSource="@ImageLinks.IndexIntro">
    <div class="banner-text">
        <h2>СПП Уголек <br> ГП <span>Донбасстепло<span class="text-primary">энерго</span></span></h2>
        <p>
            предприятие, созданное с целью бесперебойного снабжения потребителей качественным теплом,
            для обеспечения комфортных условий труда и проживания граждан.
        </p>
    </div>
</Intro>

<header id="header">
    <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
</header>

<div class="body" id="body">
    <div class="content">
        <div class="main-content">
            <div class="col-12 text-center text-block">
                <h1>Получайте квитанции Online</h1>
                <p class="lead">
                    Наш сервис позволит вам получить информацию о состоянии вашего лицевого счета не выходя из дома
                </p>
                <div class="btn-group">
                    <button class="btn btn-primary waves-effect d-flex align-items-center">
                        <span class="material-icons icon">
                            person_add
                        </span>
                        Создать аккаунт
                    </button>
                </div>
            </div>

            <div class="work-block" id="work">
                <div class="center">
                    @foreach (var slide in Slides)
                    {
                        <div style="background: #eee; height: 300px">
                            <img src="@slide" />
                        </div>
                    }
                </div>
            </div>

            <div class="features-block offset">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="feature">
                                    <i class="material-icons">
                                        fireplace
                                    </i>
                                    <h3>Теплоснабжение</h3>
                                    <p>
                                        производство, транспортирование и распределение
                                        тепловой энергии между потребителями тепла
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="feature">
                                    <i class="material-icons">
                                        list_alt
                                    </i>
                                    <h3>Развитие</h3>
                                    <p>
                                        совершенствование систем теплоснабжения жилищного
                                        фонда и других объектов ДНР
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="feature">
                                    <i class="material-icons">
                                        build
                                    </i>
                                    <h3>Обслуживание</h3>
                                    <p>
                                        ремонт и своевремнное обслуживание основного и
                                        вспомогательного оборудования
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="news-block" id="news">
                <div class="container">
                    <div class="news-block-text">
                        <h2 class="title">Новости</h2>
                        <a class="linck" href="news">
                            Смотреть все
                            <i class="material-icons">
                                keyboard_arrow_right
                            </i>
                        </a>
                    </div>

                    @if (News == null)
                    {
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            @foreach (var item in News)
                            {
                                <Card Date="@item.Time" ImageSrc="@item.ImageSrc" Source="@item.Source" Title="@item.Title">
                                    <span>
                                        @item.Description
                                    </span>
                                </Card>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="col-12 text-center text-block">
                <h1>Нам важно Ваше мнение</h1>
                <p class="lead">
                    В случае необходимости вы можете связаться с нами отправив нам свой коментарий
                </p>
                <div class="btn-group">
                    <button class="btn btn-primary waves-effect d-flex align-items-center"
                            @onclick="@(() => Modal.Show<Feedback>("Отправте сообщение"))">
                        <span class="material-icons icon">
                            insert_comment
                        </span>
                        Обратная связь
                    </button>
                </div>
            </div>

            <Contacts ContactInfo="Contacts"
                      Image="https://nua.in.ua/wp-content/uploads/2014/03/5571.jpg">
                <Background>
                    <div id="map"></div>
                </Background>
            </Contacts>
        </div>
    </div>
</div>