<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayoute)">
            <NotAuthorized>
                <AuthorizeView Context="authenticated">
                    <Authorized Context="authenticated">
                        <AuthorizeView Roles="@($"{Roles.Admin} {Roles.Consumer}")" Context="role">
                            <NotAuthorized Context="role">
                                <ForbiddenView />
                            </NotAuthorized>
                        </AuthorizeView>
                    </Authorized>
                    <NotAuthorized Context="authenticated">
                        <Login />
                    </NotAuthorized>
                </AuthorizeView>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(EmptyLayoute)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
