@inject HttpClient http

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<EditForm Model="newsPost" OnValidSubmit="(async () => await CreatePost())" @attributes="CreateFormAttributes">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="inputTitle">Заголовок статьи</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Введите название статьи"
               @bind="newsPost.Title">
        <ValidationMessage For="@(() => newsPost.Title)" />
    </div>

    <div class="form-group">
        <label for="inputImageSrc">Картинка статьи</label>
        <input type="text" class="form-control" id="inputImageSrc" placeholder="Вставте ссылку на картинку"
               @bind="newsPost.ImageSrc">
        <ValidationMessage For="@(() => newsPost.ImageSrc)" />
    </div>

    <div class="form-group">
        <label for="inputSource">Ссылка на статью</label>
        <input type="text" class="form-control" id="inputSource" placeholder="Вставте ссылку на статью"
               @bind="newsPost.Source">
        <ValidationMessage For="@(() => newsPost.Source)" />
    </div>

    <div class="form-group">
        <label for="inputCategory">Катигория статьи</label>
        <select class="form-control" id="inputCategory" @bind="newsPost.Category">
            @foreach (var item in Enum.GetValues(typeof(CategoryMode)))
            {
                <option>@((CategoryMode)item)</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="inputDescription">Краткое описание статьи</label>
        <textarea class="form-control" id="inputDescription" rows="3" style="resize:none;"
                  @bind="newsPost.Description"></textarea>
        <ValidationMessage For="@(() => newsPost.Description)" />
    </div>
    <button type="submit" class="btn btn-success">Добавить</button>
</EditForm>


@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    string Error = "";
    bool ShowErrors = false;

    Dictionary<string, object> CreateFormAttributes =
        new Dictionary<string, object>
        {
            { "style", "min-width:500px;" }
        };

    NewsDto newsPost = new NewsDto()
    {
        Time = DateTime.Now
    };

    private async Task CreatePost()
    {
        var httpContent = new StringContent(JsonSerializer.Serialize(newsPost), Encoding.UTF8, "application/json");

        var httpResponse = await http.PostAsync("api/news", httpContent);

        if (httpResponse.IsSuccessStatusCode)
        {
            BlazoredModal.Close(ModalResult.Cancel());
        }
        else
        {
            var responsString = await httpResponse.Content.ReadAsStringAsync();

            Error = responsString;

            ShowErrors = true;
        }
    }
}
