@page "/news"

@layout MainLayout
@inherits NewsModel


<Intro BodyId="@("body")" ImgSource="@ImageLinks.NewsIntro">
    <div class="banner-text">
        <h2>Новости</h2>
        <p>
            предприятие, созданное с целью бесперебойного снабжения потребителей качественным теплом,
            для обеспечения комфортных условий труда и проживания граждан.
        </p>
    </div>
</Intro>

<header id="header">
    <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
</header>

<div class="body" id="body">
    <section>
        <div class="container-fluid">
            <div class="container">

                <div class="news-category">
                    <Category CurrentCategory="CurrentCategory" Links="Links" SelectedLink="SelectedLinkAsync" />
                </div>

                @if (News == null)
                {
                    <div class="conteiner" style="margin:25px;">
                        <div class="spinner-border text-info text-center" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-end">
                        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                            <a class="btn btn-success waves-effect" href="javascript:void(0)"
                               @onclick="@(async ()=> { await CreatePostAsync(); })">
                                <span class="material-icons text-white">
                                    playlist_add
                                </span>
                            </a>
                        </AuthorizeView>
                    </div>
                    @foreach (var item in News)
                    {
                        <div class="blog-post">
                            <div class="blog-post__img">
                                <img src="@item.ImageSrc" />
                            </div>
                            <div class="blog-post__info">
                                <div class="blog-post__date">
                                    <span>@item.Time.ToLongDateString()</span>
                                </div>
                                <h5 class="blog-post__title">@item.Title</h5>
                                <p class="blog-post__text">@item.Description</p>
                                <div class="btn-group">
                                    <a class="btn btn-primary d-flex align-items-center waves-effect" href="@item.Source">
                                        <span class="material-icons icon">
                                            arrow_back_ios
                                        </span>
                                        Подробнее
                                    </a>
                                </div>
                                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Editor}")">
                                    <a class="btn btn-warning waves-effect" href="javascript:void(0)"
                                       @onclick="async ()=> { await EditPostAsync(item); }">
                                        <span class="material-icons text-white">
                                            edit
                                        </span>
                                    </a>
                                    <a class="btn btn-danger waves-effect" href="javascript:void(0)"
                                       @onclick="async ()=> { await DeletePostAsync(item.Id); }">
                                        <span class="material-icons text-white">
                                            delete_forever
                                        </span>
                                    </a>
                                </AuthorizeView>
                            </div>
                        </div>
                     }
                }
            </div>
        </div>
        <div style="margin-top: 55px;">
            <Pagination CurrentPage="CurrentPage" PageQuantity="TotalPages" Range="2" SelectedPage="SelectedPageAsync" />
        </div>
    </section>
</div>